.color-normal {
    color: darkslategrey;
    background-color: wheat;
    --bs-navbar-toggler-border-color: black;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.color-enfasis {
    color: white;
    background-color: black;
}

.color-inactivo {
    color: darkgray;
    background-color: wheat;
}

.color-activo {
    color:black;
    background-color:white;
}