.color-normal {
    color: wheat;
    background-color: blue;
}

.color-enfasis {
    color: white;
    background-color: cornflowerblue;
}

.color-inactivo {
    color: lightgray;
    background-color: blue;
}

.color-activo {
    color:white;
    background-color:darkblue;
}